{% extends 'base.html.twig' %}

{% block title %}Analyse Détaillée{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{{ asset('css/dashboard-prof.css') }}">
<link rel="stylesheet" href="{{ asset('css/sidebar-dynamic.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/sidebar.js') }}"></script>
{% endblock %}

{% block body %}
<div class="prof-layout">
    {% include 'dashboard/prof/_sidebar.html.twig' %}

    <main class="prof-main-content">
        <header class="prof-page-header">
            <h1 class="prof-page-title">Analyse Détaillée</h1>
            <p class="prof-page-subtitle">Visualisation détaillée de la consommation électrique de l'IUT de Haguenau.
            </p>
        </header>

        <section class="prof-stats-grid-2">
            <div class="prof-card">
                <div class="card-icon-top">
                    <i class="bi bi-speedometer2"></i>
                </div>
                <h3 class="card-title">Suivi des Dérives de Consommation <br> (vs Moyenne 12 mois)</h3>
                <h4 class="card-subtitle">Alerte rouge si
                    l'écart dépasse
                    +5%.</h4>
                <div class="stat-iframe-container">
                    <iframe
                        src="http://localhost:3000/d-solo/ad9plv6/new-dashboard?orgId=1&from=1770092020409&to=1770113620409&timezone=browser&var-prix_hp=0.20&panelId=panel-4&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>

            <div class="prof-card">
                <div class="card-icon-top">
                    <i class="bi bi-plug-fill"></i>
                </div>
                <h4 class="card-title">Record de Consommation Journalier</h4>
                <h3 class="card-subtitle">Énergie maximale consommée sur une seule journée <br>
                    du mois dernier.</h3>
                <div class="stat-iframe-container">
                    <iframe
                        src="http://localhost:3000/d-solo/ad9plv6/tableau-de-bord-analyse-des-couts?orgId=1&from=1769517096400&to=1770121896400&timezone=browser&var-prix_hp=0.20&panelId=5&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>
        </section>

        <section class="prof-vertical-grid">
            <div class="prof-card large-card">
                <h3 class="card-title">Répartition de la Consommation Électrique par Salle</h3>
                <h4 class="card-subtitle">sur le mois précédent</h4>
                <div class="chart-container">
                    <iframe class="grafana-iframe"
                        src="http://localhost:3000/d-solo/ad9plv6/tableau-de-bord-analyse-des-couts?orgId=1&from=1770093830168&to=1770115430168&timezone=browser&var-prix_hp=0.20&panelId=panel-2&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>

            <div class="prof-card large-card">
                <h3 class="card-title">Performance Énergétique Comparée par Étage</h3>
                <h4 class="card-subtitle">Indicateur de densité (kWh/m²) sur le mois précédent. <br>Seuils d'alerte :
                    Sobriété (<3), Vigilance (3-5), Surconsommation (>5).</h4>
                <div class="chart-container">
                    <iframe class="grafana-iframe"
                        src="http://localhost:3000/d-solo/ad9plv6/tableau-de-bord-analyse-des-couts?orgId=1&from=1770095640089&to=1770117240089&timezone=browser&var-prix_hp=0.20&showCategory=Thresholds&tab=queries&panelId=1&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>

            <div class="prof-card large-card">
                <h3 class="card-title">Comparaison de la Consommation d'Activité et du Talon Nocturne</h3>
                <h4 class="card-subtitle">sur le mois précédent pour réduire les gaspillages hors occupation.</h4>
                <div class="chart-container">
                        <iframe class="grafana-iframe"
                            src="http://localhost:3000/d-solo/ad9plv6/tableau-de-bord-analyse-des-couts?orgId=1&from=1770120513833&to=1770120813833&timezone=browser&var-prix_hp=0.20&tab=queries&panelId=3&__feature.dashboardSceneSolo=true&kiosk">
                        </iframe>
                </div>
            </div>
</div>
</section>
</main>
</div>
{% endblock %}
