{% extends 'base.html.twig' %}

{% block title %}Analyse Détaillée{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{{ asset('css/dashboard-prof.css') }}">
<link rel="stylesheet" href="{{ asset('css/sidebar-dynamic.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/sidebar.js') }}"></script>
{% endblock %}

{% block body %}
<div class="prof-layout">
    {% include 'dashboard/prof/_sidebar.html.twig' %}

    <main class="prof-main-content">
        <header class="prof-page-header">
            <h1 class="prof-page-title">Analyse Détaillée</h1>
            <p class="prof-page-subtitle">Visualisation détaillée de la consommation électrique de l'IUT de Haguenau.
            </p>
        </header>

        <section class="prof-stats-grid-2">
            <div class="prof-card">
                <div class="card-icon-top">
                    <i class="bi bi-lightning-charge"></i>
                </div>
                <h3 class="card-title">Suivi des Dérives de Consommation <br> (vs Moyenne 12 mois)</h3>
                <h4 class="card-subtitle">Alerte rouge si
                    l'écart dépasse
                    +5%.</h4>
                <div class="stat-iframe-container">
                    <iframe
                        src="http://localhost:3000/d-solo/adtzjch/tableau-de-bord-vue-gestionnaire-analyse-des-couts?orgId=1&from=1738368000000&to=1767225600000&timezone=browser&var-prix_hp=0.20&panelId=panel-4&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>

            <div class="prof-card">
                <div class="card-icon-top">
                    <i class="bi bi-currency-euro"></i>
                </div>
                <h3 class="card-title">a compléter</h3>
                <h3 class="card-title">a compléter</h3>
                <div class="stat-iframe-container">
                    <iframe
                        src="http://localho-par-defaut?orgId=1&from=1768920676182&to=1769158955799&timezone=browser&var-choix_bat=B%C3%A2timent%20A&panelId=panel-8&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>
        </section>

        <section class="prof-vertical-grid">
            <div class="prof-card large-card">
                <h3 class="card-title">a compléter</h3>
                <div class="chart-container">
                    <iframe class="grafana-iframe"
                        src="http://localho&theme=dark&kiosk">
                    </iframe>
                </div>
            </div>

            <div class="prof-card large-card">
                <h3 class="card-title">a compléter</h3>
                <div class="chart-container">
                    <iframe class="grafana-iframe"
                        src="http://lo">
                    </iframe>
                </div>
            </div>

            <div class="prof-card large-card">
                <h3 class="card-title">a compléter</h3>
                <div class="chart-container">
                    <iframe class="grafana-iframe"
                        src="http://localhost:30nelId=XX&theme=dark&kiosk">
                    </iframe>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}
