{% extends 'base.html.twig' %}

{% block title %}Analyse des Coûts{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{{ asset('css/dashboard-prof.css') }}">
<link rel="stylesheet" href="{{ asset('css/sidebar-dynamic.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/sidebar.js') }}"></script>
{% endblock %}

{% block body %}
<div class="prof-layout">
    {% include 'dashboard/prof/_sidebar.html.twig' %}

    <main class="prof-main-content">
        <header class="prof-page-header">
            <h1 class="prof-page-title">Analyse des Coûts</h1>
            <p class="prof-page-subtitle">Visualisation des coûts liées la consommation électrique de l'IUT de Haguenau.
            </p>
        </header>

        <section class="prof-stats-grid-2">
            <div class="prof-card">
                <div class="card-icon-top">
                    <i class="bi bi-calendar3"></i>
                </div>
                <h3 class="card-title">Bilan Budgétaire Annuel</h3>
                <div class="stat-iframe-container">
                    <iframe
                        src="http://localhost:3000/d-solo/adtzjch/tableau-de-bord-vue-gestionnaire-analyse-des-couts?orgId=1&from=1738368000000&to=1767225600000&timezone=browser&var-prix_hp=0.20&panelId=panel-13&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>

            <div class="prof-card">
                <div class="card-icon-top">
                    <i class="bi bi-calculator"></i>
                </div>
                <h3 class="card-title">Prix Moyen d'un kilowattheure en euros</h3>
                <div class="stat-iframe-container">
                    <iframe
                        src="http://localhost:3000/d-solo/adtzjch/tableau-de-bord-vue-gestionnaire-analyse-des-couts?orgId=1&from=1738368000000&to=1767225600000&timezone=browser&var-prix_hp=0.20&showCategory=Value%20options&panelId=panel-3&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>
        </section>

        <section class="prof-vertical-grid">
            <div class="prof-card large-card">
                <h3 class="card-title">Consommation Mensuelle sur l'année en cours</h3>
                <h4 class="card-subtitle">Historique des dépenses et usages électriques</h4>
                <div class="chart-container">
                    <iframe class="grafana-iframe"
                        src="http://localhost:3000/d-solo/adtzjch/tableau-de-bord-vue-gestionnaire-analyse-des-couts?orgId=1&from=1738368000000&to=1767225600000&timezone=browser&var-prix_hp=0.20&panelId=panel-9&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>

            <div class="prof-card large-card">
                <h3 class="card-title">Évolution du Prix du kWh</h3>
                <h4 class="card-subtitle">Prix du kilowatt en euros sur 8 ans</h4>
                <div class="chart-container">
                    <iframe class="grafana-iframe"
                src="http://localhost:3000/d-solo/adtzjch/tableau-de-bord-vue-gestionnaire-analyse-des-couts?orgId=1&from=1738368000000&to=1767225600000&timezone=browser&var-prix_hp=0.20&panelId=panel-12&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>

            <div class="prof-card large-card">
                <h3 class="card-title">Gestion des Coûts</h3>
                <h4 class="card-subtitle">Données détaillées</h4>
                <div class="chart-container">
                    <iframe class="grafana-iframe"
                src="http://localhost:3000/d-solo/adtzjch/tableau-de-bord-vue-gestionnaire-analyse-des-couts?orgId=1&from=1738368000000&to=1767225600000&timezone=browser&var-prix_hp=0.20&panelId=panel-11&__feature.dashboardSceneSolo=true&kiosk">
                    </iframe>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}
